@inject AppState AppState;
@using BuffTracker.Shared.Models
@using BuffTracker.ViewModels
@implements IDisposable

<CascadingValue Value="@ViewModel" Name="BuffTrackerViewModel">
    @if (AppState.IsLoading)
    {
        <p>Loading...</p>
    }
    else
    {
        <StatusGrid/>
    }
</CascadingValue>

@code {
    [CascadingParameter(Name = "BuffTrackerViewModel")]
    BuffTrackerViewModel ViewModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AppState.StateChanged += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.StateChanged -= StateHasChanged;
    }

}
