<div class="container">
    <h3>Buffs & Conditions</h3>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Max Duration (Rounds)</th>
            <th>Round When Cast</th>
            <th>Remaining Rounds</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var effect in statusEffects)
            {
                <tr>
                    <td>@effect.Name</td>
                    <td>@effect.MaxDurationInRounds</td>
                    <td>@effect.RoundWhenCast</td>
                    <td>@effect.RemainingRounds</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {

    private IEnumerable<StatusEffect> statusEffects = new[]
    {
        new StatusEffect { Name = "Haste", MaxDurationInRounds = 5, RoundWhenCast = 1},
        new StatusEffect { Name = "Staggered", MaxDurationInRounds = 1, RoundWhenCast = 2},
    };

    protected override void OnInitialized()
    {
    }

}
