@inject BuffTrackerState BuffTrackerState
@inject TimelineEngine TimelineEngine;

<div class="container">
    <h3>Timeline</h3>
    <p role="status">Current Round: @BuffTrackerState.CurrentRound</p>
    <button class="btn btn-primary" @onclick="@TimelineEngine.IncrementRound">Add Round</button>
    <button class="btn btn-primary" @onclick="@TimelineEngine.DecrementRound">Subtract Round</button>
</div>

@code {
    [CascadingParameter(Name = "BuffTrackerViewModel")]
    BuffTrackerViewModel ViewModel { get; set; }
}
